body {
	background-image: url("res/default-bg0.png");
	margin: 0;
	padding: 0;
	font-family: Arial, Sans Serif;
	font-size: 11pt;
	width: 100%;
	height: 100%;
}

button,input[type=submit],input[type=button] {
	background-color: #222222;
	border: 1px solid #888888;
	color: #FFFFFF;
	border-radius: 2px;
}

#sidebar-menu {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 250px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	z-index: 1;
}

#upload-section {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#upload-form {
	display: block;
	width: 90%;
	margin: 5%;
}

#file-input {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

#file-drop-zone {
	display: block;
	border: 2px dashed #888888;
	border-radius: 2px;
	width: 100%;
	height: 100px;
	margin: 2px -2px;
	text-align: center;
	cursor: pointer;
	position: relative;
	transition: background-color 0.1s, box-shadow 0.1s;
}

#file-drop-zone.dragged {
	background-color: rgba(120, 120, 120, 0.8);
	box-shadow: 0 0 5px 5px rgba(120, 120, 120, 0.8);
}

#file-drop-text {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	margin: auto;
}

#file-info-preview-wrapper,#file-info-loader-wrapper {
	z-index: 2;
	height: 100%;
	width: 50%;
	display: block;
	position: absolute;
}

#file-info-preview-wrapper {
	z-index: 1;
}

#file-info-loader-wrapper {
	background-color: rgba(0, 0, 0, 0.8);
}

#file-info-preview,#file-info-loader {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#file-info-loader {
	max-width: 70%;
	max-height: 70%;
}

#file-info-preview {
	max-width: 100%;
	max-height: 100%;
}

#file-info-wrapper .file-info {
	display: block;
	font-size: 10pt;
	font-weight: bold;
	left: 50%;
	width: 45%;
	padding: 0 2.5%;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#file-info-name {
	top: 20px;
}

#file-info-size {
	top: 40px;
}

#file-info-status {
	top: 65px;
	color: green;
}

#file-info-status.error {
	color: red;
}

#file-submit-button {
	width: 80px;
	float: right;
	margin: 5px 0;
}

#thumb-list-section {
	display: block;
	position: fixed;
	left: 250px;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 5px 1%;
	z-index: 0;
	overflow-y: auto;
}

.thumb-wrapper {
	display: inline;
	float: left;
	margin: 3px;
	border: 5px solid black;
	border-radius: 5px;
	width: 128px;
	height: 128px;
	background-color: #000000;
}

a.thumb-link {
	border: 0 none;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

img.thumb {
	border: 0 none;
	display: block;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

#scaled-img-overlay {
	position: fixed;
	left: 250px;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

#comment-section {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#comment-form {
	display: block;
	width: 235px;
	height: 170px;
	margin: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
}

#comment-list-wrapper {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 190px;
	right: 0;
	overflow-y: auto;
}

#comment-list {
	list-style: none;
	margin: 5px 0 0 10px;
	padding: 5px;
}

.comment-name {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 9pt;
}

.comment-name[href="mailto:"] {
	/* empty email addresses */
	text-decoration: none;
	cursor: default;
}

.comment-text {
	color: #AAAAAA;
}

.comment {
	/* comment delimiter */
	border-bottom: 1px solid #444444;
	margin: 0 0 10px 0;
}

#comment-form input[type="text"],#comment-form input[type="email"],#comment-form textarea
	{
	font-family: Arial, Sans Serif;
	font-size: 10pt;
}

#comment-form label {
	display: block;
	width: 100%;
	float: left;
}

.comment-label-text {
	font-size: 10pt;
	vertical-align: sub;
	margin: 0 0 0 10px;
}

#comment-form input[type="text"],#comment-form input[type="email"] {
	width: 70%;
	float: right;
	border: none;
	border-radius: 2px;
	margin: 2px 2% 0 0;
	padding: 1%;
}

#comment-text-input {
	width: 94%;
	height: 80px;
	resize: none;
	margin: 2px 2%;
	border: none;
	border-radius: 2px;
	padding: 1%;
}

#comment-submit-button {
	float: right;
	width: 80px;
	margin: 5px 0 15px 0;
}

#scaled-img-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-image: url("res/loading.gif");
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 2;
}

.scaled-img-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}

.scaled-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border: 0 none;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
}